
  <mat-card class="example-card">
  
    
    <h5>Find our exclusive fares!</h5>

    <mat-vertical-stepper [linear]="true" #stepper (selectionChange)="changedStep($event)"  (animationDone)="stepperAnimationDone()">
  
      <mat-step [stepControl]="formOrigin" editable="true" #stepOrigin>
        <form [formGroup]="formOrigin">
          <ng-template matStepLabel>Select your origin </ng-template>
          <mat-form-field>
  
            <input type="text" formControlName="originControl" placeholder="From" aria-label="From" matInput [formControl]="originControl"
              [matAutocomplete]="autoOrig">
            <mat-autocomplete autoActiveFirstOption #autoOrig="matAutocomplete" [displayWith]="locationDisplayFn">
              <mat-option *ngFor="let location of filteredOriginLocations$ | async " [value]="location">
                {{ location.name }}
              </mat-option>
            </mat-autocomplete>
  
  
  
          </mat-form-field>
  
        </form>
      </mat-step>
  
      <mat-step [stepControl]="formDestination" editable="true" #stepDestination>
        <form [formGroup]="formDestination">
          <ng-template matStepLabel>Select your destination </ng-template>
          <mat-form-field>
  
            <input type="text" formControlName="destinationControl" placeholder="To" aria-label="To" matInput [formControl]="destinationControl"
              [matAutocomplete]="autoDest">
            <mat-autocomplete autoActiveFirstOption #autoDest="matAutocomplete" [displayWith]="locationDisplayFn">
              <mat-option *ngFor="let location of filteredDestinationLocations$ | async " [value]="location">
                {{ location.name }}
              </mat-option>
            </mat-autocomplete>
  
          </mat-form-field>
  
        </form>
      </mat-step>
  
  
      <mat-step>
        <ng-template matStepLabel>Fares</ng-template>
  
        <mat-card class="example-card">
  
  
          <div *ngIf="gotFares; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
  
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>FARES</mat-card-title>
              <mat-card-subtitle>For the selected locations</mat-card-subtitle>
            </mat-card-header>
  
            <mat-card-content>
  
              <div style="padding-top:30px">
  
                <div style="float: left;padding-left:50px;">
                  <div>From</div>
                  <h4>{{originAirport.name}}</h4>
                  <h6>latitude: {{originAirport.latitude}} | longitude: {{originAirport.longitude}}</h6>
                  <h5>{{originAirport.description}}</h5>
                </div>
                <div style="float: left; padding-left:50px;">
                  <div>To</div>
                  <h4>{{destinationAirport.name}}</h4>
                  <h6>latitude: {{destinationAirport.latitude}} | longitude: {{destinationAirport.longitude}}</h6>
                  <h5>{{destinationAirport.description}}</h5>
                </div>
              </div>
  
              <div style="clear: both; padding-top:30px;padding-left:50px;">
               <h2>{{fares.amount}} {{fares.currency}}</h2>
                
             
              </div>
            </mat-card-content>
  
  
  
          </ng-template>
          <ng-template #elseBlock>
  
  
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Please wait</mat-card-title>
              <mat-card-subtitle>while we fetch your fares</mat-card-subtitle>
            </mat-card-header>
  
            <mat-card-content>
              <div style="padding-left:50px; padding-top: 50px;">
                <mat-spinner></mat-spinner>
              </div>
  
            </mat-card-content>
  
  
          </ng-template>
  
  
  
        </mat-card>
  
  
      </mat-step>
    </mat-vertical-stepper>
  
  
  </mat-card>