
  h4 {
    position: relative;
    margin-top: 80px; text-align: center; width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .graph{
    min-width:500px;
    width:50%;
    float: left;
    padding: 60px;
  }