

<mat-card class="example-card">

  <mat-card-content>


    

      
      <h5>Statistics for the application usage</h5>

     <div id="endPointStats" style="display: none;">{{endPointStats}}</div>

      
      <div class="graph">
          <h4>Requests</h4>
          <canvas id="requests" width="300" height="200"></canvas></div>

      
      <div class="graph">
          <h4>Response Time</h4>
          <canvas id="Responsetime" width="300" height="200"></canvas></div>

<div style="clear: both;"></div>

  

  </mat-card-content>

</mat-card>